
body #background-img {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: -10;
	margin: 1em 0;
	background: url('../images/owl_background.jpg');
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: white;
}

div {
	text-align: center;
}

.view {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out; /* IE10 is actually unprefixed */
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	z-index: 100;
}

.view.slide-right {
	margin-left: 100%;
	opacity: 0;
}

.view.slide-right.active {
	margin-left: 0;
	opacity: 1;
}

.view.slide-top {
	margin-top: -100%;
	opacity: 0;
}

.view.slide-top.active {
	margin-top: 0;
	opacity: 1;
}

.view.slide-bottom {
	margin-top: 100%;
	opacity: 0;
}

.view.slide-bottom.active {
	margin-top: 0;
	opacity: 1;
}

.view.fade {
	opacity: 0;
}

.view.instant {
	display: none;
}

.view.fade.active {
	opacity: 1;
}

.view.instant.active {
	display: block;
}

.popup-wrapper {
	position: absolute;
	margin-top: 3em;
	left: calc(10% - 1em);
	width: 80%;
	height: auto;
	background: rgba(207, 209, 212, 0.95);
	border-radius: 2em;
	padding: 1em;
	padding-top: 1em;
	margin-bottom: 3em;
}

.title {
	font-size: 1.3em;
	font-weight: bold;
}

.subtitle {
	margin-top: 1em;
}

.form-wrapper .form-row {
	width: 100%;
	text-align: center;
	margin-top: 1em;
}

.form-wrapper .form-row .label {
	font-size: 1.2em;
}

.form-wrapper .form-row .sub-label {
	font-size: .9em;
}

.form-wrapper .form-row .value > input, .form-wrapper .form-row .value > select {
	width: 80%;
	border-radius: 1.5em;
	border: 0;
	margin-top: .5em;
	font-size: 1.5em;
	padding: .2em .5em;
	font-size: 1em;
	height: 2em;
	background: white;
	-webkit-appearance: none;
}

.form-wrapper .form-row .value > input.error, .form-wrapper .form-row .value > select.error {
	border: solid #FB3737;
	box-shadow: inset 0 0 10px #FB3737;
}

.form-wrapper .form-row .value > select {
	width: 83%;
}

.form-wrapper .form-row .value > #category {
	font-size: 1em;
	height: 2em;
}


.form-wrapper .form-row .button {
	border: 2px solid #3776fb;
	margin-top: 1em;
	background: white;
	margin-left: auto;
	margin-right: auto;
	color: #3776fb;
	font-weight: bold;
}
.form-wrapper .form-row .button.disabled {
	border: 2px solid #A3A3A3;
	color: #A3A3A3;
}

.form-wrapper .form-row .button.button-large {
	width: 80%;
	border-radius: 1.5em;
	font-size: 1.5em;
	padding: .2em .5em;
}

.form-wrapper .form-row .button.button-medium {
	width: 40%;
	border-radius: 1.5em;
	font-size: 1.5em;
	padding: .2em .5em;
}

.form-wrapper .form-row.horizontal .label {
	display: inline-block;
	width: 40%;
	text-align: left;
	vertical-align: middle;
}

.form-wrapper .form-row.horizontal .value {
	display: inline-block;
	width: 50%;
}

.form-wrapper .button-group {
	width: 100%;
}
.form-wrapper .button-group .button{
	display: inline-block;
}

.form-wrapper .button-group .button.button-medium {
	width: calc(50% - 1.5em);
	border-radius: 0;
}

.form-wrapper .button-group .button.button-medium:nth-child(1) {
	border-top-left-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
}
.form-wrapper .button-group .button.button-medium:last-child {
	border-top-right-radius: 1.5em;
	border-bottom-right-radius: 1.5em;
}

.form-wrapper .button-group .button.button-medium.tab-button:nth-child(1) {
	border-bottom-left-radius: 0;
}
.form-wrapper .button-group .button.button-medium.tab-button:last-child {
	border-bottom-right-radius: 0;
}

.form-wrapper .button-group .button.button-medium.tab-button:not(.selected) {
	border: 2px solid #5D8FFC;
	color: #5D8FFC;
	width: calc(45% - 1.25em);
}

.form-wrapper .button-group .button.button-medium.tab-button.selected {
	border-bottom: none;
	width: calc(45% - 1.25em);
}

.form-wrapper .form-tab {
	display: none;
}

.form-wrapper .form-tab.selected {
	display: inline-block;
	width: calc(90% - 4px);
	padding-bottom: 2em;
	border: 2px solid #3776fb;
	border-top: 1px solid transparent;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
}

#splash-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: black;
}

#splash-wrapper > div {
	height: 20%;
	width: 100%;
}

#splash-wrapper > .horseshoe-hell-logo {
	color: #ccc;
	text-align: center;
	vertical-align: middle;
	border: 2px solid #ccc;
	margin: 10% 2% 2%;
	width: 95%;
	line-height: 137px;
	/*background: url('../images/24HHH2014_Gray1.png');
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;*/
}
#splash-wrapper > .fixed-pin-logo {
	background: url('../images/fixed_pin_logo.png');
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
#splash-wrapper > .eclusion-logo {
	margin: 10% 2% 2%;
	width: 95%;
	background: url('../images/ECLUSION_CONSULTING_LOGO.png');
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 26%;
}

#event_waiting-wrapper .countdown {
	min-height: 1.5em;
	font-size: 1.5em;
	font-weight: bolder;
}

.event-header {
	width: 100%;
	height: 4.5em;
	background: rgba(207, 209, 212, 0.98);
	position: fixed;
	left: 0;
	top: 0;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	box-shadow: rgba(0, 0, 0, 0.74902) 2px 2px 5px 0px;
	z-index: 100;
	padding-top: 1em;
}
.event-header > .header-column:nth-child(1) {
	display: inline-block;
	text-align: left;
	width: 60%;
	margin-top: 5px;
}
.event-header > .header-column:nth-child(2) {
	display: inline-block;
	text-align: center;
	width: 38%;
	margin-top: 5px;
}
.event-header .climber-name {
	margin-left: 2%;
	width: 80%;
	text-align: left;
	overflow: hidden;
	float: left;
}
.event-header .climber-category {
	display: inline-block;
	width: 16%;
}
.event-header .team-name {
	margin-left: 2%;
	width: 100%;
	text-align: left;
	overflow: hidden;
}
.event-header .countdown {
	vertical-align: middle;
	font-size: 2em;
	color: #3776fb;
}
.event-header .goal-progress {
	clear: both;
	width: 98%;
	margin-left: 1%;
	border-radius: .5em;
	border: 1px solid #3776fb;
	position: relative;
}
.event-header .goal-progress-bar {
	background: #3776fb;
	height: 100%;
	position: absolute;
	z-index: -1;
	border-bottom-left-radius: .5em;
	border-top-left-radius: .5em;
}
.event-footer {
	width: 100%;
	height: 4em;
	background: rgba(207, 209, 212, 0.98);
	position: fixed;
	left: 0;
	bottom: 0;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	box-shadow: rgba(0, 0, 0, 0.74902) 2px -2px 5px 0px;
	z-index: 100;
}
.event-footer .footer-column {
	display: inline-block;
	width: 19%;
	height: 100%;
	position: relative;
}
.event-footer .footer-column:nth-child(1) {
	border-top-left-radius: 1em;
}
.event-footer .footer-column:last-child {
	border-top-right-radius: 1em;
}
.event-footer .footer-column > .icon {
	width: 100%;
	margin-top: 10px;
	font-size: 2em;
}
.event-footer .footer-column > .title {
	font-size: 1em;
	font-weight: normal;
}
.event-footer .footer-column.active {
	background-color: #3776fb;
}

.main-content {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-top: 5em;
	padding-bottom: 5em;
	background: rgba(255, 255, 255, 0.96);
	z-index: 0;
}

.route-wrapper {
	border-top: 1px solid #666;
	padding: .2em 0;
}
.route-wrapper .lap {
	display: inline-block;
	width: 10%;
	font-size: 2em;
	color: #3776fb;
}
.route-wrapper .route-info {
	display: inline-block;
	width: 70%;
	text-align: left;
}
.route-wrapper .route-info > .name {
	text-align: left;
	font-size: 1.3em;
	margin-bottom: -.1em;
}
.route-wrapper .route-info > .style,
.route-wrapper .route-info > .rating,
.route-wrapper .route-info > .points,
.route-wrapper .route-info > .page {
	display: inline-block;
	width: 20%;
	text-align: left;
	font-size: .8em;
	line-height: .8em;
}
.route-wrapper .route-info > .points {
	width: 25%;
}
.route-wrapper .route-info > .page {
	width: 29%;
}
.route-wrapper .route-more-button {
	display: inline-block;
	width: 6%;
	float: right;
	margin-top: 0.3em;
	margin-right: .2em;
}
.route-wrapper .route-more {
	display: none;
	overflow: hidden;
}
.route-wrapper .route-more.hidden {
	display: none;
}
.route-wrapper .route-more {
	border-top: 1px solid #ccc;
}
.route-wrapper .route-more > div {
	margin: .5em;
}
.route-wrapper .route-more .lap-time .label {
	display: inline-block;
	width: 26%;
	text-align: left;
	margin-left: -3em;
}
.route-wrapper .route-more .lap-time .form-icon {
	width: 12em;
}
.route-wrapper .route-more .route-lock .label {
	display: inline-block;
	width: 34%;
	text-align: left;
}
.route-wrapper .route-more .route-lock > i {
	width: 8em;
}
.route-wrapper .route-more .route-lock > i {
	font-size: 1.4em;
}
.route-wrapper .route-more input {
	border-radius: 1.5em;
	font-size: 1em;
}
.area-title {
	background: rgba(207, 209, 212, 0.98);
	border-top: 1px solid #666;
	padding: .2em 0;
	font-size: 1.3em;
}
.area-wrapper {
	position: relative;
}
.area-wrapper .area-more-button {
	position: absolute;
	width: 6%;
	right: 2px;
	top: .6em;
}
.lap-time input {
	width: inherit;
}

.form-icon {
  display: inline-block;
  position: relative;
  max-width: 100%;
}
.form-icon > .fa {
  position: absolute;
  top: 50%;
  width: 30px;
  margin-top: -7px;
  font-size: 14px;
  color: #999999;
  text-align: center;
  pointer-events: none;
}

.form-icon > input {
  padding-left: 30px !important;
}

#message-header {
	-webkit-transition: top 0.3s ease-out;
	-moz-transition: top 0.3s ease-out;
	-ms-transition: top 0.3s ease-out; /* IE10 is actually unprefixed */
	-o-transition: top 0.3s ease-out;
	transition: top 0.3s ease-out;

	position: fixed;
	left: 0;
	top: -6em;
	width: calc(100% - 6px);
	height: 5em;
	background: white;
	z-index: 9999;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
}

#message-header.active {
	top: 0em;
}

#message-header .message {
	padding: 1em;
}

#message-header.info {
	border: solid #3776fb 3px;
	box-shadow: 5px 5px 10px rgba(33,33,33, .7), inset 0 0 10px #3776fb;
	color: #3776fb;
}

#message-header.warning {
	border: c #FBF137 3px;
	box-shadow: 5px 5px 10px rgba(33,33,33, .7), inset 0 0 10px #FBF137;
	color: #000;
}

#message-header.error {
	border: solid #FB3737 3px;
	box-shadow: 5px 5px 10px rgba(33,33,33, .7), inset 0 0 10px #FB3737;
	color: #FB3737;
}


#loading-overlay, #overlay {
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-ms-transition: opacity 0.2s ease-out; /* IE10 is actually unprefixed */
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(33, 33, 33, .9);
	z-index: 8999;
	opacity: 0;
	font-size: 5em;
	color: white;
	padding-top: 75%;
	pointer-events: none;
}

#loading-overlay.active, #overlay.active {
	opacity: 1;
	pointer-events: all;
}


#climber_select-wrapper .climber-summary, #event_select-wrapper .event-summary {
	background: rgba(255, 255, 255, .9);
	width: calc(100% + 2em - 4px);
	margin-left: calc(-1em + 1px);
	border: solid 1px #D0D2D5;
	padding: .25em 0;
	text-align: left;
	margin-bottom: -.75em;
}

#climber_select-wrapper .climber-summary:active, #climber_select-wrapper .climber-summary.selected, 
#event_select-wrapper .event-summary:active, #event_select-wrapper .event-summary.selected {
	border: 3px solid #3776fb;
	margin-left: calc(-1em - 1px);
	color: #3776fb;
}

#climber_select-wrapper .climber-summary .climber-name, #event_select-wrapper .event-summary .event-name {
	font-size: 1.3em;
	text-align: left;
	margin-left: .6em;
}

#climber_select-wrapper .climber-summary .climber-username, #event_select-wrapper .event-summary .event-date {
	display: inline-block;
	width: 48%;
	margin: .2em 1.5em;
	font-size: .9em;
	text-align: left;
}

#climber_select-wrapper .climber-summary .climber-date {
	display: inline-block;
	width: 36%;
	margin: .2em 0;
	font-size: .9em;
	text-align: right;
}

#event_select-wrapper .event-select-container {

}

#event_select-wrapper .event-select-header {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: .2em 0;
	font-size: 1.3em;
	width: calc(100% + 1.5em);
	margin-left: calc(-1em + 5px);
	margin-top: 1em;
}

#event_select-wrapper .event-summary .event-date {
	width: 100%;
}

#event_select-wrapper .event-summary {
	margin-bottom: 0;
}


.form-wrapper .form-row.divider {
	border-top: 1px solid #666;
	font-size: 1.3em;
	width: calc(100% + 1.5em);
	margin-left: calc(-1em + 5px);
}

#event_waiting-wrapper .team-info .label {
	width: 30%;
	display: inline-block;
	text-align: right;
	margin-right: .5em;
}

#event_waiting-wrapper .team-info .value {
	width: 60%;
	margin: 0 .5em;
	display: inline-block;
	text-align: left;
}
#event_waiting-wrapper .event-info .label {
	width: 50%;
	display: inline-block;
	text-align: right;
	margin-right: .5em;
}

#event_waiting-wrapper .event-info .value {
	width: 40%;
	margin: 0 .5em;
	display: inline-block;
	text-align: left;
}





.multiselect-container {
	background: white;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border: solid 2px #3776fb;
	width: 90%;
	margin-left: calc(5% - 1px);
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 15em;
}
.multiselect-container .multiselect-group {
	margin-bottom: .5em;
}

.multiselect-container .multiselect-group-header {
	font-size: 1.2em;
	font-weight: bold;
	background: #D1D3D6;
	border-top: solid 1px #3776fb;
	border-bottom: solid 1px #3776fb;
}

.multiselect-container .multiselect-input {
	padding: .2em;
	font-size: 1.2em;
	line-height: 2em;
	text-align: left;
}
.multiselect-container .multiselect-input > input {
	width: 30%;
	text-align: left;
	height: 1.5em;
}

.multiselect-button-all {
	background: white;
	border-top-left-radius: 1em;
	border: solid 2px #3776fb;
	color: #3776fb;
	width: 44.5%;
	margin-left: 2px;
	display: inline-block;
	padding: .25em 0;
}
.multiselect-button-none {
	background: white;
	border-top-right-radius: 1em;
	border: solid 2px #3776fb;
	color: #3776fb;
	width: 45%;
	margin-left: -6px;
	display: inline-block;
	padding: .25em 0;
}

.route-wrapper .lap.disabled  {
	color: #999;
}

#route_list_wrapper {
	overflow: scroll;
	margin-bottom: 11em;
}

#route_list_wrapper::-webkit-scrollbar,
#route_list_wrapper::-moz-scrollbar,
#route_list_wrapper::-o-scrollbar,
#route_list_wrapper::scrollbar { 
    display: none; 
}

#alert-wrapper {
	z-index: 9001;
}







/* DARK THEME CSS */

body.dark {
	color: #CCC;
}

body.dark #background-img {
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-o-filter: invert(100%);
	filter: invert(100%);
}

body.dark .popup-wrapper {
	background: rgba(40, 40, 40, 0.95);
}

body.dark input, body.dark select {
	background-color: #111;
	color: #CCC;
}

body.dark .form-wrapper .form-row .button {
	background-color: #111;
}

body.dark .form-wrapper .form-row .button.disabled {
	border: 2px solid #A3A3A3;
	color: #A3A3A3;
}

body.dark .event-header {
	background: rgba(16, 16, 16, 0.98);
}

body.dark .event-header .goal-progress-text {
	color: white;
}
body.dark .event-footer {
	background: rgba(16, 16, 16, 0.98);
}
body.dark .event-footer .footer-column.active {
	background-color: rgba(16, 16, 16, 0.98);
	color: #3776fb;
}

body.dark .main-content {
	background: rgba(24, 24, 24, 0.96);
}

body.dark .form-icon > .fa {
  	color: #999999;
}

body.dark #message-header {
	background: #333;
}

body.dark #message-header.warning {
	border: #FBF137 3px;
	box-shadow: 5px 5px 10px rgba(33,33,33, .7), inset 0 0 10px #FBF137;
	color: #FBF137;
}

body.dark #climber_select-wrapper .climber-summary, body.dark #event_select-wrapper .event-summary {
	background: rgba(16, 16, 16, .9);
}

body.dark .multiselect-container {
	background: #111;
}

body.dark .multiselect-container .multiselect-group-header {
	background: #333;
}

body.dark .multiselect-button-all {
	background: #111;
}
body.dark .multiselect-button-none {
	background: #111;
}

body.dark .area-title {
	background: rgba(60, 60, 60, 0.98);
}

body.dark table.dataTable.display tbody tr, body.dark table.dataTable.display tbody tr:hover {
	background-color: #222;
}
body.dark table.dataTable.display tbody tr > .sorting_1, body.dark table.dataTable.display tbody tr:hover > .sorting_1 {
	background-color: #2C2C2C;
}

body.dark table.dataTable.display tbody tr.odd, body.dark table.dataTable.display tbody tr.odd:hover {
	background-color: #333;
}
body.dark table.dataTable.display tbody tr.odd > .sorting_1, body.dark table.dataTable.display tbody tr.odd:hover > .sorting_1 {
	background-color: #3C3C3C;
}


body.dark .dataTables_wrapper .dataTables_length, 
body.dark .dataTables_wrapper .dataTables_filter, 
body.dark .dataTables_wrapper .dataTables_info, 
body.dark .dataTables_wrapper .dataTables_processing, 
body.dark .dataTables_wrapper .dataTables_paginate {
	color: #A3A3A3;
}

body.dark .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
body.dark .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: #eee !important;
	border: 1px solid #cacaca;
	background-color: #333;
}
body.dark .dataTables_wrapper .dataTables_paginate .paginate_button.current {
	background: none;
}

body.dark .dataTables_wrapper .dataTables_paginate .paginate_button {
	color: #eee !important;
	border: 1px solid #cacaca;
	background-color: #333;
}